<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <ioc>
        <processor patch:instead="*[@type='Sitecore.XA.Feature.Context.Pipelines.IoC.RegisterContextServices, Sitecore.XA.Feature.Context']" type="Sitecore.Support.XA.Feature.Context.Pipelines.IoC.RegisterContextServices, Sitecore.Support.8306" />
      </ioc>
    </pipelines>
  </sitecore>
</configuration>